{% extends "demo/slides_template.html" %}
{% block title %} What is DevOps? {% endblock %}
{% load static %}
{% block content %}
<div class="reveal" >
    <!-- Any section element inside of this container is displayed as a slide -->
    <div class="slides">
        <section>
            <a href="https://revealjs.com">
                <img src="{% static 'images/confused.png' %}" class="demo-logo" width="294" height="220" alt="confused person at computer"/>
            </a>
            <h3>What is DevOps?</h3>
            <p>
                <small>(and how can we benefit?)</small>
                </br>
                <small>by Eli Fry</small>
            </p>
        </section>

        <section>
            <h2>Why it matters</h2>
            <ul>
                <li>Fewer breaking changes in builds</li>
                <li>Lower risk for customers</li>
                <li>Faster commit to deployment</li>
                <li>More frequent deployments possible</li>
                <li>Ship features faster than competitors</li>
                <li>Less time fixing bugs, more time working on new features</li>
            </ul>
        </section>

        <section>
            <h2>What is DevOps?</h2>
            <ul>
                <li>Cultural philosophies</li>
                <li>Practices</li>
                <li>Tools</li>
            </ul>
        </section>

        <section>
            <img src="{% static 'images/devops_loop_square.jpg' %}" class="demo-logo" width="400" height="400" alt="devops loop"/>
        </section>

        <section>
            <section>
                <div class="container">
                    <div class="col">
                        <img src="{% static 'images/devops_loop_square.jpg' %}" class="demo-logo" width="400" height="400" alt="devops loop"/>
                    </div>
                    <div class="col">
                        <h2>DevOps Culture</h2>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="col">
                        <img src="{% static 'images/devops_loop_square.jpg' %}" class="demo-logo" width="400" height="400" alt="devops loop"/>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Combination of Dev and Ops Teams</li>
                            <li>Breakdown of walls and silos</li>
                            <li>Closer connection to product, shared responsibility</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="col">
                        <img src="{% static 'images/devops_loop_square.jpg' %}" class="demo-logo" width="400" height="400" alt="devops loop"/>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Better visibility and communication</li>
                            <li>Hours for feedback, not days or weeks</li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

        <section>
            <section>
                <div class="container">
                    <div class="col">
                        <img src="{% static 'images/devops_loop_square.jpg' %}" class="demo-logo" width="400" height="400" alt="devops loop"/>
                    </div>
                    <div class="col">
                        <h2>DevOps Practices</h2>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="col">
                        <img src="{% static 'images/devops_loop_square.jpg' %}" class="demo-logo" width="400" height="400" alt="devops loop"/>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Breaking up architecture into smaller parts, decoupling</li>
                            <li>Smaller teams</li>
                            <li>Test and deploy parts separately</li>
                            <li>Less time spent negotiating and coordinating across teams, less meetings</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="col">
                        <img src="{% static 'images/devops_loop_square.jpg' %}" class="demo-logo" width="400" height="400" alt="devops loop"/>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Small, frequent commits</li>
                            <li>Builds on every commit</li>
                            <li>Deploy to running environment quickly for further testing</li>
                            <li>All code, infrastructure, and documentation goes in a git repo</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="col">
                        <img src="{% static 'images/devops_loop_square.jpg' %}" class="demo-logo" width="400" height="400" alt="devops loop"/>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Continuous Integration (CI)</li>
                            <li>Automated testing, automated builds</li>
                            <li>Continuous delivery (CD)</li>
                            <li>Automated all the way to stage for production</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="col">
                        <img src="{% static 'images/devops_loop_square.jpg' %}" class="demo-logo" width="400" height="400" alt="devops loop"/>
                    </div>
                    <div class="col">
                        <ul>
                            <li>Instrastructure as code</li>
                            <li>Scalability</li>
                            <li>Disaster recovery</li>
                            <li>Cloud-ready</li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

        <section>
            <section>
                <div class="container">
                    <div class="col">
                        <img src="{% static 'images/devops_loop_square.jpg' %}" class="demo-logo" width="400" height="400" alt="devops loop"/>
                    </div>
                    <div class="col">
                        <h2>DevOps Tools</h2>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="col">
                        <img src="{% static 'images/devops_loop_square.jpg' %}" class="demo-logo" width="400" height="400" alt="devops loop"/>
                    </div>
                    <div class="col">
                        <h2>Pipelines</h2>
                        <ul>
                            <li>Automated actions and transitions</li>
                            <li>Faster and safer</li>
                            <li>Happier developers</li>
                        </ul>
                    </div>
                </div>
            </section>
            <section>
                <div class="container">
                    <div class="col">
                        <img src="{% static 'images/devops_loop_square.jpg' %}" class="demo-logo" width="400" height="400" alt="devops loop"/>
                    </div>
                    <div class="col">
                        <h2>Monitoring</h2>
                        <ul>
                            <li>Build Logs</li>
                            <li>Find what went into a build</li>
                            <li>Track failures, get notifications</li>
                            <li>Compare performance metrics</li>
                        </ul>
                    </div>
                </div>
            </section>
        </section>

        <section>
            <h2>DevOps is NOT...</h2>
            <p>A magical method, role, job description, or group that you can simply plug in and fix all the issues</p>
        </section>

        <section>
            <h2>DevOps is...</h2>
            <p>The empowering of the developer by using automation, quick feedback, and a growing body of checks and tests to make a safer codebase.</p>
        </section>

        <section>
            <h2>The end goal is...</h2>
            <p>Selling more robots.</p>
            </br>
            <p>Efficiency in development translates into more features.</p>
        </section>

        <section>
            <h2>DevOps at FANUC so far</h2>
            <ul>
                <li>Git transition, shared repo</li>
                <li>GitLab, shared issue tracking</li>
                <li>Newer languages (C# vs VB)</li>
                <li>Python scripts</li>
                <li>Build Dashboard (in development)</li>
            </ul>
        </section>

        <section>
            <h2>Going forward</h2>
            <ul>
                <li>Small steps!</li>
                <li>Gated promotions</li>
                <li>Automated testing</li>
                <li>Tracking metrics, feedback loop</li>
            </ul>
        </section>

    </div>
</div>
<style>
.container{
  display: flex;
}
.col {
  flex: 1;
}
.demo-logo {
    margin: 0 auto 4rem auto;
    background: transparent;
}
</style>
<script src="{% static 'slides-bundle.js' %}"></script>
{% endblock %}
